// VARIABLES
$primary: #0f1b24;
$seconady: rgba(14, 29, 38, 0.6);
$other: rgba(13, 87, 135, 0.6);
$blue: #52bbff;
$blue-light: #a5dcff;
$container: 1216px;
$transition: 0.4s;
body {
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
    background: $primary;
    scroll-behavior: smooth;
}
.stop-scroll {
    overflow: hidden;
}
.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}
.container-right {
    margin-left: auto;
    max-width: calc((100vw - $container) / 2 + $container);
    overflow: hidden;
    padding-right: 15px;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 34px;
    line-height: 40px;
}
h3 {
    font-size: 34px;
    line-height: 40px;
}

.border {
    background-color: $blue;
    width: 100px;
    height: 5px;
    display: block;
    border-radius: 100px;
}
.nav {
    z-index: 100;
    width: 100%;
    padding-top: 42px;
    position: relative;
    .burger-btn {
        position: relative;
        width: 30px;
        height: 18px;
        margin-left: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        display: none;
        span,
        &::before,
        &::after {
            width: 100%;
            height: 3px;
            background: #fff;
            transition: 0.6s;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            transform: scale(1);
        }
    }
    .navbar-menu-wrapper {
        .navbar-links {
            display: none;
        }
        .navbar-menu {
            display: flex;
            align-items: center;
            gap: 86px;
            li {
                height: 100%;
                font-size: 20px;
                line-height: 24px;
                a {
                    color: #fff;
                    -webkit-transition: $transition;
                    transition: $transition;
                    &:hover {
                        background: transparent;
                        color: $blue;
                    }
                }
            }
        }
    }
}

.header {
    background-image: url(./img/header-shape.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    overflow: hidden;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: relative;
        .title {
            h1 {
                font-size: 65px;
                font-size: calc(32px + 33 * (100vw / 1400));
                line-height: 77px;
                position: relative;
                margin-top: 145px;
                &::after {
                    position: absolute;
                    content: url(./img/icon/star.svg);
                    right: 31px;
                    top: 19px;
                }

                span {
                    color: $blue;
                }
            }
            .border {
                margin-bottom: 30px;
                margin-top: 41px;
            }
            .header__links {
                display: flex;
                align-items: center;
                gap: 33px;
                margin-bottom: 103px;
            }
        }
        .header__photo {
            width: 432px;
            max-height: 846px;
            position: absolute;
            right: 0px;
            bottom: -45%;
            flex-basis: auto;
        }
    }
    .tech-skills {
        .sub-title {
            max-width: 60%;
            margin-bottom: 85px;
            h3 {
                margin-bottom: 25px;
            }
            p {
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
            }
        }
        .items {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            margin-bottom: 113px;
            margin-top: -23px;
            position: relative;
            z-index: 100;
            .item {
                padding: 26px 0;
                border-radius: 40px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                flex-basis: 100%;
                background: rgba(14, 29, 38, 0.6);
                backdrop-filter: blur(20.5px);
                border-radius: 40px;
                .item-text {
                    font-size: 28px;
                }
            }
        }
        .tech-skills__line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            h3 {
                margin-right: 10px;
                margin-bottom: 15px;
            }
            .techskills-list {
                display: flex;
                flex-wrap: wrap;
                gap: 27px;
                .techskills-border {
                    padding: 12px 22px;
                    border: 1px solid $blue;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 28px;
                    border-radius: 20px;
                }
            }
        }
    }
}
.portfolio {
    background: rgba(14, 29, 38, 0.33);
    padding: 112px 0px;
    overflow: hidden;

    h2 {
        white-space: nowrap;
        margin-right: 10px;
    }
}
.swiper-pagination {
    display: none;
}
.swiper-wrapper {
    margin-top: 60px;
    height: 100%;

    .swiper-slide {
        .portfolio-item {
            width: 100%;
            max-width: 445px;
            background: #21313e;
            border-radius: 40px;
            overflow: hidden;
            max-height: 346px;
            height: 100%;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            .item-img {
                img {
                    width: 100%;
                }
            }
            .title {
                padding: 20px 39px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 140px;
                gap: 16px;
                p {
                    font-size: 18px;
                    line-height: 27px;
                }
                .category {
                    font-size: 14px;
                    line-height: 17px;
                    padding: 8px 22px;
                    border-radius: 100px;
                    background: $blue;
                    color: #fff;
                    display: flex;
                    width: fit-content;
                    text-align: center;
                }
            }
        }
    }
}

.about {
    padding-top: 119px;
    background-image: url(./img/contacts-shape.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    h2 {
        margin-bottom: 70px;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        li {
            padding-left: 69px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(205, 234, 252, 0.1);
                padding-bottom: 32px;
            }
            &::before {
                content: url(./img/icon/star-list.svg);
                position: absolute;
                left: 9px;
                top: 10px;
            }
            h4 {
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 16px;
                max-width: 58%;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $blue-light;
                max-width: 58%;
            }
        }
    }
}
.contacts {
    margin-top: 115px;
    .container-small {
        max-width: 868px;
        margin-left: 0;
        margin-right: auto;
        padding: 85px 113px 46px;
        background: rgba(14, 29, 38, 0.33);

        h2 {
            position: relative;
            max-width: 620px;
            margin-bottom: 0;
            &::after {
                position: absolute;
                content: url(./img/icon/star.svg);
                right: 40px;
                top: -25px;
            }
        }
        .border {
            margin-top: 30px;
            margin-bottom: 81px;
        }
        .contacts-wrapper {
            display: flex;
            align-items: center;
            column-gap: 100px;
            p {
                font-size: 20px;
                line-height: 24px;
            }
            a {
                font-size: 34px;
                line-height: 69px;
                color: $blue-light;
            }
        }
    }
}
// POPUPS

.popup {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(14, 29, 38, 0.6);
    backdrop-filter: blur(18px);
    top: 0;
    left: 0;
    opacity: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease-in-out;
    z-index: 999;
    &.open {
        opacity: 1;
        visibility: visible;
        .popup__content {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
    .popup__content {
        background: #0f1b24;
        // background: #fff;
        border-radius: 50px;
        color: #fff;
        max-width: 1174px;
        width: 100%;
        position: relative;
        font-size: 18px;
        max-height: 80%;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 15px;
        transition: 0.4s all ease;
        transform: translate(0, 100%);
        &::-webkit-scrollbar {
            width: 3px; /* ширина всей полосы прокрутки */
        }

        &::-webkit-scrollbar-track {
            background: transparent; /* цвет зоны отслеживания */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #1f3948; /* цвет бегунка */
            border-radius: 20px; /* округлось бегунка */
        }
        .popup-container {
            max-width: 1034px;
            margin: 0 auto 15px;
            .popup__content-title {
                .category {
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 30px;
                    background: rgba(42, 76, 97, 0.6);
                    border-radius: 20px;
                    padding: 10px 22px;
                    display: inline-block;
                }
                h2 {
                    font-size: 34px;
                    line-height: 40px;
                }
                .about-project-list {
                    margin: 70px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;
                    .about-project-item {
                        padding-left: 54px;
                        .title {
                            position: relative;
                            font-size: 18px;
                            line-height: 22px;
                            margin-bottom: 16px;
                            &::before {
                                content: url(img/icon/star-list.svg);
                                position: absolute;
                                left: -54px;
                                top: 10px;
                            }
                        }
                        p {
                            color: $blue-light;
                            font-size: 16px;
                            line-height: 22px;
                            .popup-link {
                                color: #30aeff;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
        .popup__close {
            position: sticky;
            top: 15px;
            display: block;
            margin-left: auto;
            margin-right: 20px;
            cursor: pointer;
            width: unset;
            height: unset;
            transition: all linear 0.2s;
        }
    }
    &.program-site {
        .popup__content {
            background-image: url(img/program-site/bg.png);
            background-position: right top;
            background-repeat: no-repeat;
            background-attachment: local;
            .about-project-item {
                max-width: 60%;
                p {
                    margin-bottom: 1em;
                }
            }
        }
        .img-mobile {
            display: none;
        }
        .images {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: baseline;
            gap: 40px;
            img {
                max-width: 90%;
            }
        }
    }
}

@media (max-width: 1290px) {
    .container-right {
        max-width: 100%;
        padding: 0 15px;
    }
    .container {
        max-width: 90%;
    }
    .header {
        .wrapper {
            flex-direction: column;
            position: relative;
            .header__photo {
                width: 340px;
                right: -25px;
                bottom: -52%;
            }
            .title,
            .title h1 {
                // font-size: 32px;
                // max-width: 70%;
                h1::after {
                    right: 35%;
                }
            }
            .title {
                .header__links {
                    margin-bottom: 50px;
                }
            }
        }
    }
    .tech-skills {
        .sub-title {
            max-width: 380px;
            // margin-top: 200px;
        }
    }
}
@media (max-width: 1110px) {
    .popup-container {
        max-width: 920px !important;
    }
    .program-site {
        .images {
            align-items: center !important;
            img {
                object-fit: cover;
            }
        }
    }
}
@media (max-width: 980px) {
    .popup-container {
        max-width: 769px !important;
    }
    .header-photo {
        width: 272px !important;
    }
    .portfolio {
        .wrapper-title {
            display: block;
            position: relative;
            .currtab {
                display: block;
                margin-top: 12px;
                color: $blue;
                &::after {
                    content: url(./img/icon/arrow-down.svg);
                    padding-left: 10px;
                }
            }
            .tabs-wrapper {
                display: none;
                flex-direction: column;
                .tab-btn {
                    display: none;
                    transition: all $transition;
                }
                &.active {
                    position: absolute;
                    background: rgba(28, 53, 72, 0.5);
                    backdrop-filter: blur(23px);
                    border-radius: 20px;
                    padding: 20px 24px;
                    z-index: 500;
                    top: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 18px;

                    .tab-btn {
                        display: block;
                        white-space: nowrap;
                        &.active {
                            display: none;
                        }
                    }
                }
            }
        }
        .swiper {
            padding-bottom: 40px;
            .swiper-wrapper {
                margin-top: 30px;
                justify-content: center;
            }
            .swiper-pagination-bullet {
                background: rgba(13, 87, 135, 0.6);
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background: $blue;
            }
            .swiper-pagination {
                display: block;
            }
            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }
        }
    }
}
@media (max-width: 900px) {
    .popup-container {
        max-width: 680px !important;
    }
    section,
    .header {
        padding: 36px 0px !important;
    }
    h2 {
        font-size: 22px;
        line-height: 26px;
    }
    .header {
        .wrapper {
            .title {
                h1 {
                    font-size: 32px;
                    line-height: 38px;
                    margin-top: 46px;
                    &::after {
                        top: 0;
                        right: 50%;
                    }
                }
            }
            .header__photo {
                width: 247px;
                bottom: -70%;
                right: -8px;
            }
        }
        .tech-skills {
            .sub-title {
                h3 {
                    font-size: 22px;
                }
                p {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 400;
                }
            }
            .items {
                gap: 18px;
                .item {
                    gap: 22px;
                    .item-img {
                        width: 40px;
                        height: 40px;
                        img {
                            width: 100%;
                        }
                    }
                    .item-text {
                        font-size: 18px;
                    }
                }
            }
            .tech-skills__line {
                h3 {
                    font-size: 22px;
                }
                .techskills-border {
                    font-size: 16px !important;
                }
            }
        }
    }

    .about {
        padding: 0 !important;
        h2 {
            margin-bottom: 24px;
        }
        ul {
            gap: 16px;
            li {
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(205, 234, 252, 0.1);
                    padding-bottom: 32px;
                }

                h4 {
                    font-size: 16px;
                    line-height: 19px;
                    max-width: 80%;
                }
                p {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: $blue-light;
                    max-width: 80%;
                }
            }
        }
    }
    .contacts {
        margin-top: 74px;
        background: rgba(7, 44, 68, 0.33);
        backdrop-filter: blur(18px);
        background-image: url(img/icon/stars-mobile-contacts.svg);
        background-repeat: no-repeat;
        background-position: right center;

        padding: 0 !important;
        .container-small {
            max-width: 100%;
            margin-left: 0;
            margin-right: auto;
            padding: 0;
            background: none;
            padding: 58px 15px 57px 30px;

            h2 {
                margin-bottom: 0;
                &::after {
                    content: "";
                }
            }
            .border {
                margin-top: 30px;
                margin-bottom: 52px;
            }
            .contacts-wrapper {
                flex-wrap: wrap;
                row-gap: 32px;
                p {
                    font-size: 16px;
                    line-height: 19px;
                }
                a {
                    font-size: 20px;
                    line-height: 24px;
                }
            }
        }
    }
    .program-site {
        .images {
            align-items: center !important;
            gap: 17px !important;
            img {
                max-width: 90%;
                max-height: 90%;
                object-fit: contain;
            }
        }
    }
}
@media (max-width: 767px) {
    .popup__content {
        max-height: 95% !important;
        .popup__close {
            width: 26px !important;
        }
        .popup-container {
            max-width: 100% !important;
            padding: 0 15px;
            .popup__content-title {
                .category {
                    font-size: 12px !important;
                    line-height: 14px !important;
                    padding: 8px 16px !important;
                }
                h2 {
                    font-weight: 600;
                    font-size: 22px !important;
                    line-height: 26px !important;
                }
                .about-project-list {
                    margin: 32px 0 !important;
                    gap: 24px !important;
                    .about-project-item {
                        padding-left: 50px !important;
                        .title {
                            font-size: 14px !important;
                            line-height: 17px !important;
                        }
                        p {
                            font-size: 14px !important;
                            line-height: 19px !important;
                        }
                    }
                }
            }
        }
    }
    .program-site {
        .popup__content {
            background-position: 0% 110% !important;
            background-size: contain;
            .about-project-item {
                max-width: unset !important;
            }
        }
        .images {
            display: none !important;
        }
        .img-mobile {
            display: flex !important;
            flex-direction: column;
            align-items: center;
            gap: 12px;
            width: 100%;
            justify-content: center;
            margin-bottom: 137px;
            img {
                object-fit: contain;
                width: 100%;
            }
            .wrapper {
                display: grid;
                grid-template-columns: repeat((2, 1fr));
                gap: 12px;
                img {
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
    }
    .header {
        .wrapper {
            .header__photo {
                width: 300px ;
                bottom: 0;
                top: 0%;
            }
            .title {
                max-width: 400px;
                h1 {
                    font-size: 38px !important;
                }
            }
        }
    }
    .tech-skills {
        margin-top: 168px;
        padding-top: 33px;
        position: relative;
        overflow: hidden;
        background: linear-gradient(180deg, rgba(27, 43, 55, 0.44) 0%, rgba(27, 43, 55, 0) 100%);
        -webkit-backdrop-filter: blur(18px);
        backdrop-filter: blur(18px);
        .sub-title {
            max-width: 100% !important;
        }
        .items {
            flex-direction: column;
            .item {
                flex-direction: row !important;
                justify-content: unset !important;
                padding: 26px 15% !important;
            }
        }
        .techskills-list {
            gap: 16px !important;
        }
    }
    .nav {
        padding-top: 22px;
    }
    .burger-btn {
        display: flex !important;
        z-index: 999;
        &.active {
            span {
                transform: scale(0);
                background: #fff;
            }
            &::before {
                top: 45%;
                transform: rotate(45deg);
                background: #fff;
            }
            &::after {
                bottom: 40%;
                transform: rotate(-45deg);
                background: #fff;
            }
        }
    }
    .navbar-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0%;
        width: 0%;
        height: 100%;
        background: rgba(14, 29, 38, 0.6);
        -webkit-backdrop-filter: blur(12.5px);
        backdrop-filter: blur(12.5px);
        z-index: 100;
        -webkit-transition: $transition;
        transition: $transition;
        opacity: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 20px;

        // overflow: hidden;
        &.active {
            width: 100%;
            opacity: 1;
        }
        .navbar-menu {
            margin-top: 131px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .navbar-links {
            margin-top: 150px;
            display: flex !important;
            align-items: center;
            gap: 26px;
            margin: 0 auto 66px;
        }
    }
    .contacts {
        background-image: none;
    }
}

@media (max-width: 648px) {
    .header {
        .wrapper {
            .header__photo {
                width: 200px ;
                bottom: 0;
                top: 50%;
            }
            .title {
                max-width: 400px;
                h1 {
                    font-size: 38px !important;
                    &::after{
                        right: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 484px) {
    .header {
        .wrapper {
            .header__photo {
                width: 162px;
                bottom: 0;
                top: 50%;
            }
            .title {
                max-width: 340px;
                h1 {
                    font-size: 32px !important;
                    margin-top: 0px;
                    &::after {
                        right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 362px) {
    .header {
        .wrapper {
            .title {
                h1 {
                    width: 100%;
                    font-size: 28px !important;
                }
            }
            .header__photo {
                top: 60% !important;
            }
        }
    }
}
