body {
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #0f1b24;
  scroll-behavior: smooth;
}

.stop-scroll {
  overflow: hidden;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-size: 34px;
  line-height: 40px;
}

.border {
  background-color: #52bbff;
  width: 100px;
  height: 5px;
  display: block;
  border-radius: 100px;
}

.nav {
  z-index: 100;
  width: 100%;
  padding-top: 42px;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 86px;
}
.nav ul li {
  height: 100%;
  font-size: 20px;
  line-height: 24px;
}
.nav ul li a {
  color: #fff;
  transition: 0.4s;
}
.nav ul li a:hover {
  background: transparent;
  color: #52bbff;
}

.header {
  padding-bottom: 108px;
  background-image: url(./img/header-shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}
.header .wrapper .title {
  flex-basis: 56%;
}
.header .wrapper .title h1 {
  font-size: 65px;
  line-height: 77px;
  position: relative;
  margin-top: 145px;
}
.header .wrapper .title h1::after {
  position: absolute;
  content: url(./img/icon/star.svg);
  right: 31px;
  top: 19px;
}
.header .wrapper .title h1 span {
  color: #52bbff;
}
.header .wrapper .title .border {
  margin-bottom: 30px;
  margin-top: 41px;
}
.header .wrapper .title .header__links {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-bottom: 103px;
}
.header .wrapper .header__photo {
  max-width: 432px;
  max-height: 846px;
  width: 30vw;
  position: absolute;
  right: 0px;
  bottom: -40%;
  flex-basis: auto;
}
.header .wrapper .header__photo img {
  width: 100%;
}
.header .tech-skills .sub-title {
  max-width: 66%;
  margin-bottom: 58px;
}
.header .tech-skills .sub-title h3 {
  margin-bottom: 25px;
}
.header .tech-skills .sub-title p {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.header .tech-skills .items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 113px;
  margin-top: -23px;
  position: relative;
  z-index: 100;
}
.header .tech-skills .items .item {
  padding: 26px 0;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-basis: 100%;
  background: rgba(14, 29, 38, 0.6);
  -webkit-backdrop-filter: blur(20.5px);
          backdrop-filter: blur(20.5px);
  border-radius: 40px;
}
.header .tech-skills .items .item .item-text {
  font-size: 28px;
}
.header .tech-skills .tech-skills__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .tech-skills .tech-skills__line h3 {
  margin-right: 10px;
  margin-bottom: 15px;
}
.header .tech-skills .tech-skills__line .techskills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}
.header .tech-skills .tech-skills__line .techskills-list .techskills-border {
  padding: 12px 22px;
  border: 1px solid #52bbff;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  border-radius: 20px;
}

.portfolio {
  background: rgba(14, 29, 38, 0.33);
  padding: 112px 0;
}
.portfolio .wrapper-title {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  justify-content: space-between;
}
.portfolio .wrapper-title h2 {
  white-space: nowrap;
  margin-right: 10px;
}
.portfolio .wrapper-title .currtab {
  display: none;
  font-size: 20px;
  line-height: 24px;
}
.portfolio .wrapper-title .tabs-wrapper {
  display: flex;
  gap: 52px;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
}
.portfolio .wrapper-title .tabs-wrapper li {
  cursor: pointer;
  transition: 0.4s;
}
.portfolio .wrapper-title .tabs-wrapper li.active {
  color: #52bbff;
}
.portfolio .swiper {
  display: none;
}
.portfolio .swiper.active {
  display: flex;
}
.portfolio .swiper-button-next,
.portfolio .swiper-button-prev {
  pointer-events: painted;
  top: 10%;
  width: 68px;
  height: 48px;
}
.portfolio .swiper-button-next {
  content: url(./img/icon/btn-next.svg);
  right: auto;
  left: 78px;
}
.portfolio .swiper-button-prev {
  content: url(./img/icon/btn-prev.svg);
  left: 0px;
}
.portfolio .swiper-pagination {
  display: none;
}
.portfolio .swiper-wrapper {
  margin-top: 128px;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item {
  background: #21313e;
  border-radius: 40px;
  overflow: hidden;
  height: 346px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .item-img img {
  width: 100%;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title {
  padding: 27px 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title p {
  font-size: 20px;
  line-height: 27px;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title .links .category {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 22px;
  border-radius: 100px;
  background: rgba(14, 29, 38, 0.6);
}

.about {
  padding-top: 119px;
  background-image: url(./img/contacts-shape.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.about h2 {
  margin-bottom: 70px;
}
.about ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about ul li {
  padding-left: 69px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.about ul li:not(:last-child) {
  border-bottom: 1px solid rgba(205, 234, 252, 0.1);
  padding-bottom: 32px;
}
.about ul li::before {
  content: url(./img/icon/star-list.svg);
  position: absolute;
  left: 9px;
  top: 10px;
}
.about ul li h4 {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
  max-width: 58%;
}
.about ul li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #a5dcff;
  max-width: 58%;
}

.contacts {
  margin-top: 115px;
}
.contacts .container-small {
  max-width: 868px;
  margin-left: 0;
  margin-right: auto;
  padding: 85px 113px 46px;
  background: rgba(14, 29, 38, 0.33);
}
.contacts .container-small h2 {
  position: relative;
  max-width: 620px;
  margin-bottom: 0;
}
.contacts .container-small h2::after {
  position: absolute;
  content: url(./img/icon/star.svg);
  right: 40px;
  top: -25px;
}
.contacts .container-small .border {
  margin-top: 30px;
  margin-bottom: 81px;
}
.contacts .container-small .contacts-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.contacts .container-small .contacts-wrapper p {
  font-size: 20px;
  line-height: 24px;
}
.contacts .container-small .contacts-wrapper a {
  font-size: 34px;
  line-height: 69px;
  color: #a5dcff;
}

.popup-container {
  padding: 70px 60px 70px 70px;
}

.popup {
  position: fixed;
  background: rgba(14, 29, 38, 0.6);
  -webkit-backdrop-filter: blur(12.5px);
          backdrop-filter: blur(12.5px);
  top: -150%;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0.4s;
}
.popup.open {
  top: 0;
  opacity: 1;
}
.popup .popup__body {
  min-height: 100%;
  padding: 10px 30px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .popup__body .popup__content {
  width: 100%;
  height: 100%;
  max-width: 1174px;
  max-height: 800px;
  border-radius: 50px;
  background: #0f1b24;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup .popup__body .popup__content .popup__content-title {
  position: relative;
}
.popup .popup__body .popup__content .popup__content-title h2 {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 70px;
}
.popup .popup__body .popup__content .popup__content-title .category {
  background: rgba(42, 76, 97, 0.6);
  font-size: 14px;
  line-height: 17px;
  padding: 10px 22px;
  border-radius: 100px;
  margin-bottom: 20px;
  display: inline-block;
}
.popup .popup__body .popup__content .close-icon {
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  cursor: pointer;
  z-index: 100;
}
.popup .popup__body .popup__content .about-project-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 80px;
  max-width: 63%;
}
.popup .popup__body .popup__content .about-project-list .about-project-item .title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
}
.popup .popup__body .popup__content .about-project-list .about-project-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #a5dcff;
}
.popup .popup__body .popup__content .about-project-list .about-project-item p:not(:last-child) {
  margin-bottom: 10px;
}
.popup .popup__body .popup__content .about-project-list .about-project-item .popup-link {
  color: #30aeff;
}
.popup .popup__body .program-popup {
  width: 100%;
  height: 100%;
  max-width: 1174px;
  max-height: 800px;
  border-radius: 50px;
  background: #0f1b24;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.popup .popup__body .program-popup::after {
  content: "";
  position: absolute;
  background-image: url(./img/program-site/bg.png);
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 10%;
  right: 0;
  max-width: 30vw;
}
.popup .popup__body .program-popup .images {
  display: grid;
  row-gap: 40px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.popup .popup__body .program-popup .images .images-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.popup .popup__body .program-popup .images .images-2 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.popup .popup__body .program-popup .images .images-3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.popup .popup__body .program-popup .images .images-4 {
  grid-column: 2/4;
  grid-row: 3/4;
}
.popup .popup__body .genius-popup .popup-h3-title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}
.popup .popup__body .genius-popup .popup-images h3 {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}
.popup .popup__body .genius-popup .popup-illustrations {
  padding: 52px 0 76px;
  text-align: center;
}
.popup .popup__body .genius-popup .popup-design img {
  width: 100%;
}
.popup .popup__body .live-events .popup-container {
  background: url(img/Live-events/cubes.png) no-repeat;
  background-position: right center;
}

@media (max-width: 1290px) {
  .container {
    max-width: 90%;
  }
  .header .wrapper {
    flex-direction: column;
    position: relative;
  }
  .header .wrapper .title h1::after {
    right: 35%;
  }
  .header .wrapper .title .sub-title {
    margin-top: 200px;
  }
  .tech-skills {
    margin-top: 168px;
    padding-top: 33px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(27, 43, 55, 0.44) 0%, rgba(27, 43, 55, 0) 100%);
    -webkit-backdrop-filter: blur(18px);
            backdrop-filter: blur(18px);
  }
}
@media (max-width: 980px) {
  .tech-skills .sub-title {
    max-width: 80%;
  }
  .tech-skills .items {
    flex-direction: column;
  }
  .tech-skills .items .item {
    flex-direction: row !important;
    justify-content: center !important;
  }
  .portfolio .wrapper-title {
    display: block;
    position: relative;
  }
  .portfolio .wrapper-title .currtab {
    display: block;
    margin-top: 12px;
    color: #52bbff;
  }
  .portfolio .wrapper-title .currtab::after {
    content: url(./img/icon/arrow-down.svg);
    padding-left: 10px;
  }
  .portfolio .wrapper-title .tabs-wrapper {
    display: none;
    flex-direction: column;
  }
  .portfolio .wrapper-title .tabs-wrapper .tab-btn {
    display: none;
    transition: all 0.4s;
  }
  .portfolio .wrapper-title .tabs-wrapper.active {
    position: absolute;
    background: rgba(28, 53, 72, 0.5);
    -webkit-backdrop-filter: blur(23px);
            backdrop-filter: blur(23px);
    border-radius: 20px;
    padding: 20px 24px;
    z-index: 500;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
  }
  .portfolio .wrapper-title .tabs-wrapper.active .tab-btn {
    display: block;
    white-space: nowrap;
  }
  .portfolio .wrapper-title .tabs-wrapper.active .tab-btn.active {
    display: none;
  }
  .portfolio .swiper {
    padding-bottom: 40px;
  }
  .portfolio .swiper .swiper-wrapper {
    margin-top: 30px;
    justify-content: center;
  }
  .portfolio .swiper .swiper-pagination-bullet {
    background: rgba(13, 87, 135, 0.6);
    opacity: 1;
  }
  .portfolio .swiper .swiper-pagination-bullet-active {
    background: #52bbff;
  }
  .portfolio .swiper .swiper-pagination {
    display: block;
  }
  .portfolio .swiper .swiper-button-prev,
.portfolio .swiper .swiper-button-next {
    display: none;
  }
}
@media (max-width: 480px) {
  .header .wrapper .title h1 {
    font-size: 32px;
  }
}/*# sourceMappingURL=style.css.map */