// VARIABLES
$primary: #21313e;
$seconady: rgba(14, 29, 38, 0.6);
$other: rgba(13, 87, 135, 0.6);
$blue: #52bbff;
$blue-light: #a5dcff;
$container: 1216px;
$transition: 0.4s;
body {
    box-sizing: border-box;
    font-family: "Jura", sans-serif;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
    background: #21313e;
    scroll-behavior: smooth;
}
.container {
    max-width: $container;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: unset;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 34px;
    line-height: 40px;
}
h3 {
    font-size: 34px;
    line-height: 40px;
}

.border {
    background-color: $blue;
    width: 100px;
    height: 5px;
    display: block;
    border-radius: 100px;
}
.nav {
    z-index: 100;
    width: 100%;
    padding-top: 42px;

    ul {
        display: flex;
        align-items: center;
        gap: 86px;
        li {
            height: 100%;
            font-size: 20px;
            line-height: 24px;
            a {
                color: #fff;
                transition: $transition;
                &:hover {
                    background: transparent;
                    color: $blue;
                }
            }
        }
    }
}
.header {
    padding-bottom: 108px;
    background-image: url(./img/header-shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        .title {
            flex-basis: 56%;
            h1 {
                font-size: 65px;
                line-height: 77px;
                position: relative;
                margin-top: 145px;
                &::after {
                    position: absolute;
                    content: url(./img/icon/star.svg);
                    right: 31px;
                    top: 19px;
                }

                span {
                    color: $blue;
                }
            }
            .border {
                margin-bottom: 30px;
                margin-top: 41px;
            }
            .header__links {
                display: flex;
                align-items: center;
                gap: 33px;
                margin-bottom: 103px;
            }
            .sub-title {
                margin-bottom: 58px;
                h3 {
                    margin-bottom: 25px;
                }
                p {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }
        .header__photo {
            position: relative;
            left: 1px;
            top: 0px;
            flex-basis: auto;
            img {
                width: 100%;
            }
        }
    }
    .tech-skills {
        .items {
            display: flex;
            justify-content: space-between;
            gap: 40px;
            margin-bottom: 113px;
            margin-top: -23px;
            position: relative;
            z-index: 100;
            .item {
                padding: 26px 0;
                border-radius: 40px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                flex-basis: 100%;
                background: rgba(14, 29, 38, 0.6);
                backdrop-filter: blur(20.5px);
                border-radius: 40px;
                .item-text {
                    font-size: 28px;
                }
            }
        }
        .tech-skills__line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 27px;
            h3 {
                margin-right: 46px;
            }
            .techskills-border {
                padding: 12px 22px;
                border: 1px solid $blue;
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                border-radius: 20px;
            }
        }
    }
}
.portfolio {
    background: rgba(14, 29, 38, 0.33);
    padding: 112px 0;
    .wrapper-title {
        display: flex;
        align-items: center;
        margin-bottom: 3px;
        justify-content: space-between;
        .tabs-wrapper {
            display: flex;
            gap: 52px;
            font-size: 20px;
            line-height: 24px;
            align-items: center;
            li {
                cursor: pointer;
                transition: $transition;
                &.active {
                    color: $blue;
                }
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        pointer-events: painted;
        top: 10%;
        width: 68px;
        height: 48px;
    }
    .swiper-button-next {
        content: url(./img/icon/btn-next.svg);
        right: auto;
        left: 78px;
    }
    .swiper-button-prev {
        content: url(./img/icon/btn-prev.svg);
        left: 0px;
    }
    .swiper-pagination {
        display: none;
    }
    .swiper-wrapper {
        margin-top: 128px;
        .swiper-slide {
            .portfolio-item {
                background: $primary;
                border-radius: 40px;
                overflow: hidden;
                .item-img {
                    img {
                        width: 100%;
                    }
                }
                .title {
                    padding: 27px 39px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p {
                        margin-bottom: 50px;
                        font-size: 20px;
                        line-height: 27px;
                    }
                    .links {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .category {
                            font-size: 14px;
                            line-height: 17px;
                            padding: 10px 22px;
                            border-radius: 100px;
                            background: $seconady;
                        }
                    }
                }
            }
        }
    }
}
.about {
    padding-top: 119px;
    background-image: url(./img/contacts-shape.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    h2 {
        margin-bottom: 70px;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 32px;
        li {
            padding-left: 69px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(205, 234, 252, 0.1);
                padding-bottom: 32px;
            }
            &::before {
                content: url(./img/icon/star-list.svg);
                position: absolute;
                left: 9px;
                top: 10px;
            }
            h4 {
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 16px;
                max-width: 58%;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: $blue-light;
                max-width: 58%;
            }
        }
    }
}
.contacts {
    margin-top: 115px;
    .container-small {
        max-width: 868px;
        margin-left: 0;
        margin-right: auto;
        padding: 85px 113px 46px;
        background: rgba(14, 29, 38, 0.33);

        h2 {
            position: relative;
            max-width: 620px;
            margin-bottom: 0;
            &::after {
                position: absolute;
                content: url(./img/icon/star.svg);
                right: 40px;
                top: -25px;
            }
        }
        .border {
            margin-top: 30px;
            margin-bottom: 81px;
        }
        .contacts-wrapper {
            display: flex;
            align-items: center;
            gap: 100px;
            p {
                font-size: 20px;
                line-height: 24px;
            }
            a {
                font-size: 34px;
                line-height: 69px;
                color: $blue-light;
            }
        }
    }
}
