body {
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #21313e;
  scroll-behavior: smooth;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 34px;
  line-height: 40px;
}

h3 {
  font-size: 34px;
  line-height: 40px;
}

.border {
  background-color: #52bbff;
  width: 100px;
  height: 5px;
  display: block;
  border-radius: 100px;
}

.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
}
.nav ul {
  display: flex;
  align-items: center;
  height: 125px;
  width: 100%;
}
.nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 26px;
  font-size: 20px;
  line-height: 24px;
  flex-shrink: 0;
  background: rgba(14, 29, 38, 0.6);
  transition: background-color 0.4s;
}
.nav ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.4s;
}
.nav ul li:first-child {
  padding-left: calc((100vw - 1216px) / 2);
}
.nav ul li:last-child {
  flex-basis: 70%;
}
.nav ul li:hover {
  background: transparent;
}
.nav ul li:hover a {
  color: #52bbff;
  position: relative;
}
.nav ul li:hover a::after {
  position: absolute;
  content: "";
  background: #52bbff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
}
.nav ul li:hover a.last::after {
  left: 4%;
}

.header {
  padding: 210px 0 151px 0;
  background-image: url(./img/header-shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.header .wrapper .title {
  flex-basis: 60%;
}
.header .wrapper .title h1 {
  font-size: 65px;
  line-height: 77px;
  position: relative;
}
.header .wrapper .title h1::after {
  position: absolute;
  content: url(./img/icon/star.svg);
  right: 80px;
  top: 15px;
}
.header .wrapper .title h1 span {
  color: #52bbff;
}
.header .wrapper .title .border {
  margin-top: 32px;
  margin-bottom: 84px;
}
.header .wrapper .title .header__links {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-bottom: 140px;
}
.header .wrapper .title .sub-title {
  margin-bottom: 58px;
}
.header .wrapper .title .sub-title h3 {
  margin-bottom: 25px;
}
.header .wrapper .title .sub-title p {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}
.header .wrapper .header__photo {
  position: relative;
  left: 39px;
  top: 3px;
  flex-basis: auto;
}
.header .wrapper .header__photo img {
  width: 100%;
}
.header .tech-skills .items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 163px;
}
.header .tech-skills .items .item {
  padding: 35px 0;
  background: rgba(14, 29, 38, 0.6);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex-basis: 100%;
}
.header .tech-skills .items .item .item-text {
  font-size: 28px;
}
.header .tech-skills .tech-skills__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 27px;
}
.header .tech-skills .tech-skills__line h3 {
  margin-right: 46px;
}
.header .tech-skills .tech-skills__line .techskills-border {
  padding: 12px 22px;
  border: 1px solid #52bbff;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  border-radius: 20px;
}

.portfolio {
  background: rgba(14, 29, 38, 0.33);
  padding: 112px 0;
}
.portfolio .wrapper-title {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  justify-content: space-between;
}
.portfolio .wrapper-title .tabs-wrapper {
  display: flex;
  gap: 52px;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
}
.portfolio .wrapper-title .tabs-wrapper li {
  cursor: pointer;
  transition: 0.4s;
}
.portfolio .wrapper-title .tabs-wrapper li.active {
  color: #52bbff;
}
.portfolio .swiper {
  margin-left: calc((100vw - 1216px) / 2);
}
.portfolio .swiper-button-next,
.portfolio .swiper-button-prev {
  top: 10%;
  width: 68px;
  height: 48px;
}
.portfolio .swiper-button-next {
  content: url(./img/icon/btn-next.svg);
  right: auto;
  left: 90px;
}
.portfolio .swiper-button-prev {
  content: url(./img/icon/btn-prev.svg);
}
.portfolio .swiper-pagination {
  display: none;
}
.portfolio .swiper-wrapper {
  margin-top: 128px;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item {
  background: #21313e;
  border-radius: 40px;
  overflow: hidden;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .item-img img {
  width: 100%;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title {
  padding: 33px 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 27px;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title .links {
  display: flex;
  justify-content: space-between;
}
.portfolio .swiper-wrapper .swiper-slide .portfolio-item .title .links .category {
  font-size: 14px;
  line-height: 17px;
  padding: 10px 22px;
  border-radius: 100px;
  background: #52bbff;
}

.about {
  padding-top: 115px;
  background-image: url(./img/contacts-shape.png);
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.about h2 {
  margin-bottom: 70px;
}
.about ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about ul li {
  padding-left: 32px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.about ul li:not(:last-child) {
  border-bottom: 1px solid rgba(205, 234, 252, 0.1);
  padding-bottom: 32px;
}
.about ul li::before {
  content: url(./img/icon/star-list.svg);
  position: absolute;
  left: 0;
  top: 5px;
}
.about ul li h4 {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 16px;
  max-width: 58%;
}
.about ul li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #a5dcff;
  max-width: 58%;
}

.contacts {
  margin-top: 115px;
}
.contacts .container-small {
  max-width: 1092px;
  margin-left: 0;
  margin-right: auto;
  padding: 100px 113px;
  background: rgba(14, 29, 38, 0.33);
}
.contacts .container-small h2 {
  position: relative;
  max-width: 620px;
}
.contacts .container-small h2::after {
  position: absolute;
  content: url(./img/icon/star.svg);
  right: 40px;
  top: -25px;
}
.contacts .container-small .border {
  margin-top: 32px;
  margin-bottom: 84px;
}
.contacts .container-small .contacts-wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}
.contacts .container-small .contacts-wrapper p {
  font-size: 20px;
  line-height: 24px;
}
.contacts .container-small .contacts-wrapper a {
  font-size: 34px;
  line-height: 59px;
  color: #a5dcff;
}/*# sourceMappingURL=style.css.map */